services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - main

  mongo:
    image: mongo:latest
    container_name: mongo

    ports:
      - "27018:27017"
    volumes:
      - ../Database:/data/db
    networks:
      - main

  spider:
    #image: spider_img
    build:
      context: ./Spider
      dockerfile: Spider_Docker
    networks:
      - main

  queue:
    #image: queue_img
    build:
      context: ./queue
      dockerfile: Queue_Docker
    networks:
      - main
  processor:
    #image: processor_img
    build:
      context: ./processor
      dockerfile: Processor_Docker
    networks:
      - main

  manager:
    #image: manager_img
    build:
      context: ./Manager
      dockerfile: Manager_Docker
    networks:
      - main

networks:
  main:
    name: main_network
