services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      main:
        ipv4_address: 192.168.57.3

  mongo:
    image: mongo:latest
    container_name: mongo

    ports:
      - "27018:27017"
    volumes:
      - ../Database:/data/db
    networks:
      main:
        ipv4_address: 192.168.57.30

  spider:
    #image: spider_img
    build:
      context: ./Spider
      dockerfile: Spider_Docker
    networks:
      - main

  queue:
    #image: queue_img
    build:
      context: ./queue
      dockerfile: Queue_Docker
    networks:
      main:
        ipv4_address: 192.168.57.5

  processor:
    #image: processor_img
    build:
      context: ./processor
      dockerfile: Processor_Docker
    networks:
      main:
        ipv4_address: 192.168.57.15

  manager:
    #image: manager_img
    build:
      context: ./Manager
      dockerfile: Manager_Docker
    networks:
      main:
        ipv4_address: 192.168.57.100

networks:
  main:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.57.0/24
