.background {
  /*background-image: linear-gradient(
    to bottom right,
    #090016,
    #7e52a0,
    #af1b3f,
    #a52422,
    #ed7d3a,
    #e8db7d
  ); */

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  background-color: rgba(0, 2, 22, 0.973);
}

.center {
  height: 100%;
  width: 85%;
  margin-left: 8%;
  position: absolute;
}

.search_container {
  background-color: rgba(0, 2, 22, 0.7);
  width: 50%;
  margin-top: 1%;
  margin-left: 25%;
  margin-bottom: 1%;
  border-radius: 10px;
  border-style: solid;
  border-color: #af1b3f;
}

.searchbar {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  z-index: 5;
  color: white;
}

.result {
  background-color: rgba(0, 2, 22, 0.7);
  color: white;
  border-radius: 10px;
  width: 50%;
  margin-left: 24%;
  margin-bottom: 1%;
  text-align: center;
  border-left: 25%;
  border-style: solid;
  border-color: #af1b3f;
}

.headingbar {
  background-color: #af1b3f;
  position: fixed;
  color: white;
  padding: 14px 16px;
  width: fit-content;
  border-right: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
}

.sidebar {
  background-color: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.05);

  position: fixed;
  height: 100%;
  width: 15%;
  overflow: auto;
  margin-top: 2.5%;
  backdrop-filter: blur(2px);
}

.sidebar_item {
  background-color: #a52422;
  z-index: 1;
  color: white;
  text-align: center;
  border-bottom-right-radius: 10px;
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  margin: 0;
  padding: 0;
  background: transparent;
  display: inline-block;
}

label {
  margin: 0;
  padding: 0;
  background: transparent;
  display: inline-block;
}

input {
  margin: 0;
  padding: 0;
  background: transparent;
  display: inline-block;
  color: white;
}

ul {
  list-style: none;
}
